.bt-container {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 100px;
}

:root {
    --pink: #EF3C82;
    --white: white;
    --black: black;
    --red: #E74C3C;
    --azul: #3498DB;
    --purple: #9B59B6;
    --amarillo: #feb506;
    --green: #088a19;
}

.btn-a {
    position: relative;
    display: inline-block;
    border: 2px solid var(--azul);
    padding: 50px 100px;
    color: var(--black);
    font-weight: 700;
    text-transform: uppercase;
    background: var(--white);
    width: 100%;
    transition: color 0s, background 0s;
    margin-top: 50px;
    font-size: 2em;
    text-align: center;
    box-shadow: 0 5px #666;
}

    .btn-a.round {
        border-radius: 50px;
    }

    .btn-a.secundary {
        background-color: transparent;
        color: var(--black);
        border: 2px solid var(--green);
    }

    .btn-a:hover {
        color: var(--azul);
        background-color: transparent;
        text-decoration-line: none;
    }

    .btn-a.secundary:hover {
        color: var(--green);
        background-color: var(--white);
        text-decoration-line: none;
    }

    .btn-a:active {
        box-shadow: inset 0 0 20px var(--azul);
        /*background-color: var(--azul);*/
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    .btn-a.secundary:active {
        box-shadow: inset 0 0 20px var(--green);
        /*background-color: var(--azul);*/
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

.btn-b {
    position: relative;
    display: inline-block;
    border: 2px solid var(--azul);
    padding: 20px 30px;
    color: var(--black);
    font-weight: 700;
    text-transform: uppercase;
    background: var(--white);
    width: 50%;
    margin-top: 20px;
    transition: color 0.5s, background 0.5s;
    font-size: 2em;
    text-align: center;
    margin: 12px;
    box-shadow: 0 9px #999;
}

    .btn-b.round {
        border-radius: 12px;
    }

    .btn-b.secundary {
        background-color: transparent;
        color: var(--azul);
        border: 2px solid var(--azul);
    }

    .btn-b:hover {
        color: var(--azul);
        background-color: transparent;
        text-decoration-line: none;
    }

    .btn-b.secundary:hover {
        color: var(--green);
        background-color: var(--white);
        text-decoration-line: none;
    }

    .btn-b:active {
        box-shadow: inset 0 0 20px var(--azul);
        /*background-color: var(--azul);*/
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    .btn-b.secundary:active {
        box-shadow: inset 0 0 20px var(--green);
        /*background-color: var(--azul);*/
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

/*animación*/

/*.login-box-h a {
    
    color: var(--azul);
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
}

.casa-h {

    transition: 0.5s;
    cursor: pointer;
    width: 50%;
    font-size: xx-large;
    border-bottom-color: azure
}


.login-box-h a span {
    position: absolute;
    display: block;
}

    .login-box-h a span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, var(--azul));
        animation: btn-anim1 1.4s linear infinite;
    }

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,100% {
        left: 100%;
    }
}

.login-box-h a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--azul));
    animation: btn-anim2 1.4s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,100% {
        top: 100%;
    }
}

.login-box-h a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--azul));
    animation: btn-anim3 1.4s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,100% {
        right: 100%;
    }
}

.login-box-h a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--azul));
    animation: btn-anim4 1.4s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,100% {
        bottom: 100%;
    }
}
*/
.btn-c {
    position: relative;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--white);
    transition: color 0.5s, background 0.5s;
    font-size: 2em;
    text-align: center;
    width: 100px;
    cursor: pointer;
    font-weight: bold;
    font-size: 26px;
    padding: 28px;
    margin: 3px;
    border: 0;
    border-radius: 100%;
    height: 100px;
}

    .btn-c.round {
        border-radius: 50%;
    }

.btn-c {
    background-color: transparent;
    color: var(--azul);
}

    .btn-c:hover {
        border: 2px solid var(--azul);
        color: var(--azul);
        background-color: transparent;
        text-decoration-line: none;
    }


    .btn-c:active {
        box-shadow: inset 0 0 20px var(--azul);
    }

/*animación*/

.login-box p {
    position: relative;
    display: inline-block;
    color: var(--azul);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
}

.casa {
    transition: 0.5s;
    cursor: pointer;
    width: 298px;
    height: 100px;
    font-size: xx-large;
    border-bottom-color: azure;
}


.login-box p span {
    position: absolute;
    display: block;
}

    .login-box p span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, var(--azul));
        animation: btn-anim1 1.5s linear infinite;
    }

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,100% {
        left: 100%;
    }
}

.login-box p span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--azul));
    animation: btn-anim2 1.5s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,100% {
        top: 100%;
    }
}

.login-box p span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--azul));
    animation: btn-anim3 1.5s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,100% {
        right: 100%;
    }
}

.login-box p span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--azul));
    animation: btn-anim4 1.5s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,100% {
        bottom: 100%;
    }
}

.btn-home {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: transparent;
    border-radius: 50%;
    margin-top: 12px;
    margin: 0px 10px;
    outline: none !important;
    border: 2px solid var(--amarillo);
}

    .btn-home.secundary {
        background-color: transparent;
        border: 2px solid var(--azul);
    }

/*.btn-home a {
   min-width: 20px;
   display: flex;
   justify-content: space-around;
}
*/

/*btn-home::before {
    content: '\f141';
    display: block;
    margin: 13px 0;
    transition: all ease-in-out .3s;
}


btn-home:hover::before {
    margin-top: -44px;
}*/

.btn-atras {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    margin-top: 12px;
    margin: 0px 10px;
}
